button{
    width: 148px;
    height: 25px;
    font-size: 18px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    border: 3px solid #F6949E;
    border-radius: 8px;
}

button.white{
    background: #F0F0F5;
    color: #F6949E;
}

button.pink{
    color: #F0F0F5;
    background: #F6949E;
}