section.title h1{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #333333;
}
section.title hr{
    background-color: #333333;
    width: 250em;
    height: 20px;
}