section.sectionCard{
    width: 749px;
    height: 173px;
    background-color: #F6CACF;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

section.sectionCard section.cardName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section.sectionCard section.cardName p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

section.sectionCard section.cardName p.sigle{
    font-weight: 500;
    font-size: 92px;
    text-transform: uppercase;
}

section.sectionCard div{
    height: 123px;
    border: 2px solid #333333;
    margin: auto 0em;
}

section.sectionCard section.cardValues{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sectionCard section.cardValues p{
    text-align: right;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin:0.2em 0em;
}

section.sectionCard section.cardValues p.cardDescription{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}