section.sectionConstruction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.sectionConstruction p{
    width: 570px;
    height: 72px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}