header{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
header nav{
    width: 100%;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
}

header nav h1{
    color: #FB4A4A;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

header nav ul{
    display: flex;
    flex-direction: row;
}
header nav ul li{
    list-style-type: none;
    margin: 0 2.4rem;
    cursor: pointer;
    font-weight: 300;
}