div.divFooter{
    width: 100%;
    height: 36px;
    background-color: #333333;
}
div.divFooter p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #FAFAFA;
}