section.sectionContentFinances{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.sectionContentFinances section.sectionText{
    flex-direction: column;
    font-family: Noto Sans;
    text-align: right;
    font-style: normal;
}

section.sectionContentFinances section.sectionText h1{
    font-weight: 600;
    font-size: 44px;
    width: 526px;
    height: 120px;
}

section.sectionContentFinances section.sectionText p{
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    width: 457px;
    height: 72px;
}

section.sectionContentIncome{
    text-align: center;
}

section.sectionContentIncome section{
    display: block;
}

section.sectionContentIncome section p{
    font-family: Noto Sans;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0em;
    Width: 600px;
    Height: 102px;
    margin: auto;
}